
.comment{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 8fr;
  grid-gap: 10px;
  height: 150px;
  width: 100%;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  /* box-shadow: 0 3px 10px hsl(223, 19%, 93%); */
  border: none;
  padding: 10px;
}

.reply-sec {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 110px;
  width: 100%;
  background: hsl(0, 0%, 100%);
  border-radius: 10px;
  /* box-shadow: 0 3px 10px hsl(223, 19%, 93%); */
  border: none;
  padding: 15px;
  margin: 5px 0;
  transition: 0.5s ease;
}

.comment-box {
  display: flex;
  align-items: start;
}

.reply-input {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 90%;
  width: 100%;
  border: none;
  border-radius: 7px;
  border: 1px solid hsl(211, 10%, 45%);
  color: hsl(211, 10%, 45%);
  padding: 10px;
  font-size: 14px;
}

.reply-btn {
  background: hsl(238, 40%, 52%);
  color: hsl(0, 0%, 100%);
  padding: 10px 15px;
  border-radius: 7px;
  margin: 0 5px;
  text-transform: uppercase;
}

.votting-sect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(228, 33%, 97%);
  height: 80%;
  width: 40px;
  border-radius: 10px;
  margin: 10px;
}

.voteCount {
  padding: 10px 0;
  margin: 0;
  color: hsl(238, 40%, 52%);
  font-family: "Rubik-Medium";
}

.votting-sect button {
  background: none;
  border: none;
}

.comment-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-head .bio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-head h4 {
  font-size: 14px;
  font-family: "Rubik-Medium";
  color: hsl(212, 24%, 26%);
  padding: 0 13px;
  text-transform: lowercase;
}

.comment-head p {
  text-transform: lowercase;
  color: hsl(211, 10%, 45%);
  font-family: "Rubik-Regular";
  font-size: 13px;
}

.comment-text {
  font-family: "Rubik-Regular";
  font-size: 14px;
  font-weight: 300;
  color: hsl(211, 10%, 45%);
  margin: 10px 30px 0 0;
}

.comment-action {
  padding: 0 10px;
}

.comment-action button {
  background: none;
  color: hsl(238, 40%, 52%);
  font-family: "Rubik-Medium";
}

.comment-replies {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-gap: 1em;
  height: 100%;
  width: 100%;
  margin: 20px 0;
}
.vertical-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vl {
  border-left: 2px solid hsl(239, 57%, 85%);
  /* height: 200px; */
  height: 100%;
}

.reply{
    margin: 10px 0;
}